@using WordinOn.Models
@model List<Usuario>

<div class="row" style="border: 2px solid black; padding: 20px">
    <div class="col-md-3 text-left">
        <div class="col-md-6">
            @Html.Label("lblNomeSala", "Nome da sala:", new { @class = "control-label" })
        </div>
        <div class="col-md-6">
            @Html.TextBox("txtNomeSala", string.Empty, new { @class = "form-control", @style = "border-color: black" })
        </div>
    </div>
    <div class="col-md-9 text-right">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-default" name="btnCriar" style="width: 100px">Criar</button>
            <button type="submit" class="btn btn-default" name="btnCancelar" style="width: 100px">Cancelar</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row" style="margin-top: 10px">
                <div class="col-md-10">
                    @Html.Label("lblProfessores", "Professores:", new { @class = "control-label" })
                    @Html.DropDownList("ddlProfessores", new SelectList(ViewBag.Professores ?? new List<Professor>(), "Cod", "Nome"), "-- [SELECIONE] --", new { @class = "form-control" })
                </div>
                <div class="col-md-2" style="margin-top: 15px; padding: 10px; ">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-default" name="btnAddProfessor">Adicionar</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-default" name="btnExcluirProfessor">Excluir</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    @Html.Label("lblEstudantes", "Estudantes:", new { @class = "control-label" })
                    @Html.DropDownList("ddlEstudantes", new SelectList(ViewBag.Estudantes ?? new List<Estudante>(), "Cod", "Nome"), "-- [SELECIONE] --", new { @class = "form-control" })
                </div>
                <div class="col-md-2" style="margin-top: 15px; padding: 10px; ">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-default" name="btnAddEstudante">Adicionar</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-default" name="btnExcluirEstudante">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>