@using WordinOn.Models
@model Sala
@{
    Layout = "~/Views/Shared/_LayoutProfessor.cshtml";
}

<nav class="breadcrumb" style="background-color: lightgray; border: 2px solid black">
    @Html.Label("Professor > Criar Sala", new { @class = "control-label", @style = "font-weight: normal; font-size: larger" })
</nav>

<form action="@Url.Action("InserirSala", "Professor")" class="form-horizontal">
    @Html.HiddenFor(m => m.Cod)
    <div class="row" style="border: 2px solid black; padding: 20px">
        <div class="col-md-3 text-left">
            <div class="row">
                <div class="col-md-6">
                    @Html.Label("lblNomeSala", "Nome da sala:", new { @class = "control-label" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @style = "border-color: black" })
                </div>
            </div>
        </div>
        <div class="col-md-9 text-right">
            <button type="submit" class="btn btn-default" name="btnCriar" style="width: 100px; border-color: black">Criar</button>
            <button type="submit" class="btn btn-default" name="btnCancelar" style="width: 100px; border-color: black">Salvar</button>
        </div>
    </div>
</form>

@if (Model != null && Model.Cod > 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-10">
                        @Html.Label("lblProfessores", "Professores:", new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Professores, new SelectList(ViewBag.Professores ?? new List<Usuario>(), "Cod", "Nome"), "-- [SELECIONE] --", new { @id = "ddlProfessor", @class = "form-control", @style = "border-color: black" })
                    </div>
                    <div class="col-md-2" style="margin-top: 15px; padding: 10px; ">
                        <button type="button" class="btn btn-default" id="btnAddProfessor" style="border-color: black" data-url="@Url.Action("InserirProfessor", "Professor")">Adicionar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="professores">
                            @Html.Partial("_Professores")
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-10">
                        @Html.Label("lblEstudantes", "Estudantes:", new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Estudante.Cod, new SelectList(ViewBag.Estudantes ?? new List<Usuario>(), "Cod", "Nome"), "-- [SELECIONE] --", new { @id = "ddlEstudante", @class = "form-control", @style = "border-color: black" })
                    </div>
                    <div class="col-md-2" style="margin-top: 15px; padding: 10px; ">
                        <button type="button" class="btn btn-default" id="btnAddEstudante" style="border-color: black" data-url="@Url.Action("InserirEstudante", "Professor")">Adicionar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="estudantes">
                            @Html.Partial("_Estudantes")
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </div>
}
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnAddProfessor").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $.ajax({
                    url: $("#btnAddProfessor").data("url"),
                    data: {
                        codSala: $("input[type='hidden']").val(),
                        codProfessor: $("#ddlProfessor option:selected").val()
                    },
                    method: "POST",
                    cache: false,
                    success: function (result) {
                        $("#professores").html(result);
                        var professor = $("#ddlProfessor option:selected").val();
                        $("#ddlProfessor option").each(function () {
                            if ($(this).val() == professor) {
                                $(this).remove();
                            }
                        });
                        $("#ddlProfessor").val("")
                    },
                    error: function (result) {
                        alert(result);
                    }
                });
            });
            $("#btnAddEstudante").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $.ajax({
                    url: $("#btnAddEstudante").data("url"),
                    data: {
                        codSala: $("input[type='hidden']").val(),
                        codEstudante: $("#ddlEstudante option:selected").val()
                    },
                    method: "POST",
                    cache: false,
                    success: function (result) {
                        $("#estudantes").html(result);
                        var estudante = $("#ddlEstudante option:selected").val();
                        $("#ddlEstudante option").each(function () {
                            if ($(this).val() == estudante) {
                                $(this).remove();
                            }
                        });
                        $("#ddlEstudante").val("")
                    },
                    error: function (result) {
                        alert(result);
                    }
                });
            });
            $("#btnDeletar").click(function (e) {
                e.preventDefault();
                e.stopPropagation();
                $.ajax({
                    url: $("#btnDeletar").data("url"),
                    data: {
                        codSala: $("delete[type='hidden']").val(),
                        codProfessor: $("#btnDeletar option:selected").val()
                    },
                    method: "REMOVEDATA",
                    cache: false,
                    success: function (result) {
                        $("#professor").html(result);
                        var professor = $("#btnDeletar option:selected").val();
                        $("#ddlProfessor option").each(function () {
                            if ($(this).val() == professor) {
                                $(this).load();
                            }
                        });
                    },
                    error: function (result) {
                        alert(result);
                    }
                });
            });
        });        
    </script>
}