@using WordinOn.Models
@model Sala
@{
    Layout = "~/Views/Shared/_LayoutProfessor.cshtml";
}

@*PEDIR AJUDA RPOR PROF PARA A IMPLEMENTAÇÃO DESSA TELA*@
@*TERMINAR FUNÇÕES*@

<form action="@Url.Action("InserirSala", "Professor")" class="form-horizontal">
    <div class="row" style="border: 2px solid black; padding: 20px">
        <div class="col-md-3 text-left">
            <div class="row">
                <div class="col-md-6">
                    @Html.Label("lblNomeSala", "Nome da sala:", new { @class = "control-label" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @style = "border-color: black" })
                </div>
            </div>
        </div>
        <div class="col-md-9 text-right">
            <button type="submit" class="btn btn-default" name="btnCriar" style="width: 100px; border-color: black">Criar</button>
            <button type="button" class="btn btn-default" name="btnCancelar" style="width: 100px; border-color: black">Cancelar</button>
        </div>
    </div>
</form>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row" style="margin-top: 10px">
                <div class="col-md-10">
                    @Html.Label("lblProfessores", "Professores:", new { @class = "control-label" })
                    @Html.DropDownList("ddlProfessores", new SelectList(ViewBag.Professores ?? new List<Usuario>(), "Cod", "Nome"), "-- [SELECIONE] --", new { @class = "form-control", @style = "border-color: black" })
                </div>
                <div class="col-md-2" style="margin-top: 15px; padding: 10px; ">
                    <button type="submit" class="btn btn-default" name="btnAddProfessor" style="border-color: black">Adicionar</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    @Html.Label("lblEstudantes", "Estudantes:", new { @class = "control-label" })
                    @Html.DropDownList("ddlEstudantes", new SelectList(ViewBag.Estudantes ?? new List<Usuario>(), "Cod", "Nome"), "-- [SELECIONE] --", new { @class = "form-control", @style = "border-color: black" })
                </div>
                <div class="col-md-2" style="margin-top: 15px; padding: 10px; ">
                    <button type="submit" class="btn btn-default" name="btnAddEstudante" style="border-color: black">Adicionar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome do Estudante</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Usuario item in (List<Usuario>)ViewBag.Professores)
                        {
                            <tr>
                                <td>@item.Nome</td>
                                <td>@item.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome do Professor</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Usuario item in (List<Usuario>)ViewBag.Estudantes)
                        {
                            <tr>
                                <td>@item.Nome</td>
                                <td>@item.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
