@using WordinOn.Models
@model Usuario
@{
    Layout = "~/Views/Shared/_LayoutProfessor.cshtml";
}


<form action="@Url.Action("AlterarPerfil", "Professor")" class="form-horizontal">
    <div class="container">

        <div class="row" style="margin-bottom: 20px; margin-top: 20px">
            <div class="col-md-6">
                @Html.Label("lblNome", "Nome:", new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @style = "border-color: black" })
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px">
            <div class="col-md-6">
                @Html.Label("lblSobrenome", "Sobrenome:", new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Sobrenome, new { @class = "form-control", @style = "border-color: black" })
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px">
            <div class="col-md-6">
                @Html.Label("lblSenha", "Senha:", new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Senha, new { @type = "password", @class = "form-control", @style = "border-color: black" })
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px">
            <div class="col-md-6">
                @Html.Label("Email", "Email:", new { @class = "control-label" })
            </div>
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "border-color: black" })
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row text-right" style="padding: 20px">
            <div class="col-md-12">
                <button type="submit" class="btn btn-default" name="btnSalvar" style="border-color: black">Salvar</button>
                <button type="button" class="btn btn-default" name="btnCancelar" style="border-color: black">Cancelar</button>
            </div>
        </div>
    </div>
</form>