@using WordinOn.Models
@model List<Redacao>

<div class="row" style="border: 2px solid black">
    <div class="col-md-4" style="border-right: 2px solid black; padding: 20px">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="form-group">
                    @Html.DropDownList("ddlSala", new SelectList(ViewBag.Salas ?? new List<Sala>(), "Cod", "Nome"), "-- [SELECIONE] --", new { @class = "form-control", @style = "border-color: black" })
                </div>
            </div>
            <div class="col-md-6 text-center">
                <button type="submit" class="btn btn-default" name="btnAcessar" style="border-color: black">Acessar</button>
            </div>
        </div>
    </div>

    <div class="col-md-8" style="padding-top: 30px">
        <div class="col-md-10">
            @Html.TextBox("txtBusca", string.Empty, new { @class = "form-control", @style = "border-color: black" })
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-default" name="btnVoltar" style="border: none">
                <img alt="Brand" class="img-responsive" style="width: 30px; height: 30px" src="https://icon-icons.com/icons2/904/PNG/512/loupe_icon-icons.com_69633.png" />
            </button>
        </div>
    </div>
</div>

<div class="row" style="border-bottom: 2px solid black">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome do Estudante</th>
                        <th>Tema</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Redacao item in Model ?? new List<Redacao>())
                    {
                        <tr>
                            <td>@item.Estudante.Nome</td>
                            <td>@item.Tema.Nome</td>
                            <td>@item.Data</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
