@using WordinOn.Models
@model Redacao
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="border-bottom: solid 2px black; padding: 15px">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                @Html.Label("lblTema", "Tema:", new { @class = "control-label", @style = "margin-top: 15px; font-size: medium" })
            </div>
            <div class="col-md-9" style="border-right: solid 2px black">
                @Html.Label("lblTema", "Tema", new { @class = "control-label", @style = "margin-top: 15px; font-size: medium; font-weight: normal" })
            </div>
            <div class="col-md-2">
                @Html.Label("lblTempo", "Tempo", new { @class = "control-label", @style = "margin-top: 15px; font-size: medium" })
                @Html.Label("lblTime", "00:00:00", new { @class = "control-label", @style = "margin-top: 15px; font-size: medium; text-decoration: underline; font-weight: normal" })
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="padding: 50px">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(m => m.Texto, new { @class = "form-control", @style = "resize: none; height: 425px; border-radius: 10px; border-color: black; background-color: lightgray" })
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@foreach (var avaliacao in Model.Avaliacoes)
{
    <div class="row" style="border: 2px solid black; padding: 20px">
        <div class="col-md-2" style="margin-top: 20px">
            <div class="row">
                <div class="col-md-6">
                    <img alt="Brand" class="img-responsive" style="width: 30px; height: 30px" src="https://upload.wikimedia.org/wikipedia/commons/7/73/Bibeksheel-logo-final.png" />
                </div>
                <div class="col-md-6">
                    @Html.Label("lblProfessor", "Professor: " + avaliacao.Professor.Nome, new { @class = "control-label", @style = "margin-top: 15px; font-size: medium" })
                </div>
            </div>
        </div>
        <div class="col-md-10" style="border-left: 2px solid black">
            <div class="row">
                <div class="col-md-12 text-center">
                    @Html.Label("lblAvaliacao", "Avaliacao: " + avaliacao.Texto, new { @class = "control-label", @style = "margin-top: 15px; font-size: medium" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 text-right">
                    @Html.Label("lblNota", "Nota:", new { @class = "control-label", @style = "margin-top: 15px; font-size: medium" })
                </div>
                <div class="col-md-2 text-right">
                    @Html.TextBox("txtNota", avaliacao.Valor, new { @class = "form-control", @style = "border-color: black; width: 60px" })
                </div>
            </div>
        </div>
    </div>
}
