@{
    Layout = null;
}
@using WordinOn.Models
@model Usuario
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wordin'On</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" style="border: 2px solid black; padding: 20px; height: 850px; background-color: lightgray">
                <div class="row" style="text-align: center">
                    <div class="col-md-12">
                        @Html.Label("Bem vindo ao WORDIN'ON", new { @class = "control-label", @style = "font-size: x-large; font-weight: bold" })
                    </div>
                </div>
                <br />
                <div class="row" style="text-align: justify">
                    <div class="col-md-12">
                        <p style="font-size: large; font-weight: normal; margin-top: 235px">
							Este é o site Wordin'On. Ele foi desenvolvido com o intuito de ajudar os estudantes a treinarem para o desenvolvimento de redações do estilo ENEM, já que muitos concordam
							que essa parte do Exame é a mais temida. O Wordin'On permitirá, aos estudantes, criarem redações dissertativas argumentativas (O estilo exigido pelo ENEM) sobre temas que serão
							selecionados aleatoriamente. As redações terão um determinado tempo para serem realizadas e, logo após sua conclusão, serão dispinibilizadas para correção e avaliação por professores.
                        </p>
                        <br />
                        <p style="font-size: large; font-weight: normal">
                            No site, também há o sistema de salas de redações. Essas serão criadas por professores, sendo que os mesmos poderão inserir usuários (professores ou estudantes) dentro dela. Os estudantes,
                             quando forem publicar uma redação, poderão fazê-lo em salas que pertencem ou simplesmente para todos.
                        </p>
                        <br />
                        <p style="font-size: large; font-weight: normal">
                            Para utilizar do sistema Wordin'On, realize o cadastro ou login (caso já seja cadastrado no site) como professor ou estudante.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding: 50px">
                <nav class="breadcrumb" style="background-color: lightgray; border: 2px solid black">
                    @Html.Label("Cadastro de Professor", new { @class = "control-label", @style = "font-weight: normal; font-size: larger" })
                </nav>
                <form action="@Url.Action("SalvarProfessor", "Cadastro")" class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("lblNome", "Nome:", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @style = "border-color: black" })
                    </div>
                    <div class="form-group">
                        @Html.Label("lblSobrenome", "Sobrenome:", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Sobrenome, new { @class = "form-control", @style = "border-color: black" })
                    </div>
                    <div class="form-group">
                        @Html.Label("lblEmail", "Email:", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "border-color: black" })
                    </div>
                    <div class="form-group">
                        @Html.Label("lblSenha", "Senha:", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Senha, new { @class = "form-control", @type = "password", @style = "border-color: black" })
                    </div>
                    <div class="form-group text-right" style="margin-top: 435px">
                        <div class="col-md-6 text-left">
                            <button class="btn btn-primary" style="border-color: black">Cadastrar</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <a class="btn btn-default" style="border-color: black" href="@Url.Action("Index", "Login")">Voltar</a>
                        </div>
                    </div>
                    <div class="col-=md-6"></div>
                </form>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>